/* General*/

*
{
    margin: 0; 
    padding: 0;
    height: 80px;
}
body
{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.wrapper
{
    background-color: gray;
    width: 1180px;
    height: 80px;
    margin-left: 40px;
    margin-top: 30px;
}
/* MAIN-IMAGE-DISCO*/
#images-disco
{
  background:  url('images/disco-309016_960_720.png') center;
    height: 100px;
}



