/* General*/

*
{
    margin: 0; 
    padding: 0;
}
body
{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
h1
{
    font-size: 48px;
    text-align: center;
    padding-top: 150px;
    font-weight: 700;
}
h2
{
    text-align: center;
}
h3
{
    text-align: center;
    color: #fff;
}
.center-div
{
    margin: 0 auto;
    width: 150px;
    height: 20px;
    margin-top: 10px;
}
.container
{
    background-color: gray;
    
   
}
p
{
    text-align: center;
    font-size: 16px;
}
.wrapper
{
    background-color: gray;
    width: 1180px;
    
    margin-left: 40px;
    margin-top: 30px;
}
wrapper div h3
{
    margin-right: 50px;
}
/* HEADER*/
 header 
{
    margin-top: 20px;
    position: fixed;
}
header img
{
    height: 80px;
}
header nav
{
    float: right;
}
header nav ul li
{
    display: inline-block;
    color: #fff;
}
a
{
    margin: 20px;
    color: #fff;
}
/* DISCO-IMAGE*/
#disco-image
{
    background: url(images/disco-309016_960_720.png) center no-repeat;
    height: 663px;
}
/* BACK*/
#back
{
    background: url(images/back.png) center no-repeat;
    height: 419px;
}
/* 6OCTOBRE*/
#octobre-image
{
    background: url(images/6octobre2018.png) center no-repeat;
    height: 707px;
}
